<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="small-input" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Title</label>
  <input type="text"
  formControlName="title" id="small-input" class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


  <label for="small-input" class="block mb-1 mt-3 text-sm font-medium text-gray-900 dark:text-white">Product description</label>
  <input type="text" 
  formControlName="description"  id="small-input" class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

  <label for="small-input" class="block mb-1 mt-3 text-sm font-medium text-gray-900 dark:text-white">Price</label>
  <input type="number" 
  formControlName="price"  id="small-input" class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

  <label for="small-input" class="block mb-1 mt-3 text-sm font-medium text-gray-900 dark:text-white">Category</label>
  <input type="text" 
  formControlName="category"  id="small-input" class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  

  <label for="small-input" class="block mb-1 mt-3 text-sm font-medium text-gray-900 dark:text-white">Rating</label>
  <input type="number" 
formControlName="rating" max="5" min="0" id="small-input" class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">



  <p
    class="text-red-600 font-medium mb-2"
    *ngIf="title.errors?.['minlength'] && title.touched"
  >Please fill title field width min length. Now {{ title.value.length }}</p>

  <button
    type="submit"
    class="py-2 px-4 mt-3 rounded-md bg-blue-600 text-gray-200"
  >Create</button>
</form>
